pillow==12.1.1
protobuf==6.33.6
pyarrow==23.0.1
pyparsing==3.3.2
pytz==2026.1.post1
rpds-py==0.30.0
six==1.17.0
smmap==5.0.3
tenacity==9.1.4
toml==0.10.2
tornado==6.5.5
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
watchdog==6.0.0
streamlit
pandas
statsmodels
scipy
matplotlib
